
<form action="/display_status/new" method="POST">
<br />
    <textarea name="status[news]" rows="20" cols="50"><%= @status.news %></textarea>
    <br />

    <input type="submit" value="みんなに伝えて！！！">

</form>
